@import 'tailwindcss';
@import './theme-colors.css';
@import 'm3-svelte/etc/recommended-styles.css';
@import '@fontsource/m-plus-rounded-1c/index.css';

@theme {
	--font-mono: var(--m3-font-mono);

	--shadow-1: var(--m3-elevation-1);
	--shadow-2: var(--m3-elevation-2);
	--shadow-3: var(--m3-elevation-3);
	--shadow-4: var(--m3-elevation-4);
	--shadow-5: var(--m3-elevation-5);

	--radius-xs: var(--m3-shape-extra-small); /* = 4px = rounded-sm */
	--radius-sm: var(--m3-shape-small); /* = 8px = rounded-lg */
	--radius-md: var(--m3-shape-medium); /* = 12px = rounded-xl */
	--radius-lg: var(--m3-shape-large); /* = 16px = rounded-2xl */
	--radius-li: var(--m3-shape-large-increased); /* = 20px = halfway between 2xl and 3xl */
	--radius-xl: var(--m3-shape-extra-large); /* = 28px ≅ rounded-3xl */

	--ease-fast-spatial: var(--m3-timing-function-fast-spatial);
	--ease-spatial: var(--m3-timing-function-spatial);
	--ease-slow-spatial: var(--m3-timing-function-slow-spatial);
	--ease-fast: var(--m3-timing-function-fast);
	--ease: var(--m3-timing-function);
	--ease-slow: var(--m3-timing-function-slow);
	--ease-emphasized: var(--m3-timing-function-emphasized);
	--ease-emphasized-accel: var(--m3-timing-function-emphasized-accel);
	--ease-emphasized-decel: var(--m3-timing-function-emphasized-decel);

	--default-transition-timing-function: var(--ease);
	--default-transition-duration: var(--m3-duration);

	--color-surface: var(--m3c-surface);
	--color-surface-dim: var(--m3c-surface-dim);
	--color-surface-bright: var(--m3c-surface-bright);
	--color-surface-container-lowest: var(--m3c-surface-container-lowest);
	--color-surface-container-low: var(--m3c-surface-container-low);
	--color-surface-container: var(--m3c-surface-container);
	--color-surface-container-high: var(--m3c-surface-container-high);
	--color-surface-container-highest: var(--m3c-surface-container-highest);
	--color-on-surface: var(--m3c-on-surface);
	--color-on-surface-variant: var(--m3c-on-surface-variant);
	--color-outline: var(--m3c-outline);
	--color-outline-variant: var(--m3c-outline-variant);
	--color-inverse-surface: var(--m3c-inverse-surface);
	--color-inverse-on-surface: var(--m3c-inverse-on-surface);
	--color-primary: var(--m3c-primary);
	--color-primary-dim: var(--m3c-primary-dim);
	--color-on-primary: var(--m3c-on-primary);
	--color-primary-container: var(--m3c-primary-container);
	--color-on-primary-container: var(--m3c-on-primary-container);
	--color-primary-fixed: var(--m3c-primary-fixed);
	--color-primary-fixed-dim: var(--m3c-primary-fixed-dim);
	--color-on-primary-fixed: var(--m3c-on-primary-fixed);
	--color-on-primary-fixed-variant: var(--m3c-on-primary-fixed-variant);
	--color-inverse-primary: var(--m3c-inverse-primary);
	--color-secondary: var(--m3c-secondary);
	--color-secondary-dim: var(--m3c-secondary-dim);
	--color-on-secondary: var(--m3c-on-secondary);
	--color-secondary-container: var(--m3c-secondary-container);
	--color-on-secondary-container: var(--m3c-on-secondary-container);
	--color-secondary-fixed: var(--m3c-secondary-fixed);
	--color-secondary-fixed-dim: var(--m3c-secondary-fixed-dim);
	--color-on-secondary-fixed: var(--m3c-on-secondary-fixed);
	--color-on-secondary-fixed-variant: var(--m3c-on-secondary-fixed-variant);
	--color-tertiary: var(--m3c-tertiary);
	--color-tertiary-dim: var(--m3c-tertiary-dim);
	--color-on-tertiary: var(--m3c-on-tertiary);
	--color-tertiary-container: var(--m3c-tertiary-container);
	--color-on-tertiary-container: var(--m3c-on-tertiary-container);
	--color-tertiary-fixed: var(--m3c-tertiary-fixed);
	--color-tertiary-fixed-dim: var(--m3c-tertiary-fixed-dim);
	--color-on-tertiary-fixed: var(--m3c-on-tertiary-fixed);
	--color-on-tertiary-fixed-variant: var(--m3c-on-tertiary-fixed-variant);
	--color-error: var(--m3c-error);
	--color-error-dim: var(--m3c-error-dim);
	--color-on-error: var(--m3c-on-error);
	--color-error-container: var(--m3c-error-container);
	--color-on-error-container: var(--m3c-on-error-container);
	--color-shadow: var(--m3c-shadow);
	--color-scrim: var(--m3c-scrim);
	--color-on-on-primary: var(--m3c-on-on-primary);
	--color-primary-container-subtle: var(--m3c-primary-container-subtle);
	--color-on-primary-container-subtle: var(--m3c-on-primary-container-subtle);
	--color-secondary-container-subtle: var(--m3c-secondary-container-subtle);
	--color-on-secondary-container-subtle: var(--m3c-on-secondary-container-subtle);
	--color-tertiary-container-subtle: var(--m3c-tertiary-container-subtle);
	--color-on-tertiary-container-subtle: var(--m3c-on-tertiary-container-subtle);
	--color-error-container-subtle: var(--m3c-error-container-subtle);
	--color-on-error-container-subtle: var(--m3c-on-error-container-subtle);
	--color-v-background: var(--m3v-background);

	--breakpoint-xs: 24rem;
	--breakpoint-xss: 20rem;
	--breakpoint-sm: 40rem;
	--breakpoint-md: 48rem;
	--breakpoint-lg: 64rem;
	--breakpoint-xl: 80rem;
	--breakpoint-2xl: 96rem;

	--ease-*: initial;
	--ease-standard: cubic-bezier(0.2, 0, 0, 1);
	--ease-outgoing40: cubic-bezier(0.4, 0, 1, 1);
	--ease-incoming80: cubic-bezier(0, 0, 0.2, 1);
	--ease-incoming80outgoing40: cubic-bezier(0.4, 0, 0.2, 1);

	--font-sans:
		'M PLUS Rounded 1c', 'Heebo', 'App CJK Fallback', system-ui, 'Noto Color Emoji', sans-serif;
	--m3-font:
		'M PLUS Rounded 1c', 'Heebo', 'App CJK Fallback', system-ui, 'Noto Color Emoji', sans-serif;
	--text-*: initial;
}

/* We don't use these classes */
@source not inline('container');

/* latin */
@font-face {
	font-family: 'Heebo';
	font-style: normal;
	font-display: swap;
	src: url('/fonts/Heebo.latin.woff2') format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
		U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: 'Heebo';
	font-style: normal;
	font-display: swap;
	src: url('/fonts/Heebo.latin-ext.woff2') format('woff2');
	unicode-range:
		U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
		U+A720-A7FF;
}
/* cyrillic */
@font-face {
	font-family: 'Heebo';
	font-style: normal;
	font-display: swap;
	src: url('/fonts/Heebo.cyrillic.woff2') format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* cyrillic-ext */
@font-face {
	font-family: 'Heebo';
	font-style: normal;
	font-display: swap;
	src: url('/fonts/Heebo.cyrillic-ext.woff2') format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* greek */
@font-face {
	font-family: 'Heebo';
	font-style: normal;
	font-display: swap;
	src: url('/fonts/Heebo.greek.woff2') format('woff2');
	unicode-range: U+0370-03FF;
}
/* greek-ext */
@font-face {
	font-family: 'Heebo';
	font-style: normal;
	font-display: fallback;
	src: url('/fonts/Heebo.greek-ext.woff2') format('woff2');
	unicode-range: U+1F00-1FFF;
}

@font-face {
	font-family: 'App CJK Fallback';
	src:
		local('Noto Sans SC'), local('Noto Sans CJK SC'), local('Noto Sans TC'),
		local('Noto Sans CJK TC'), local('Noto Sans HK'), local('Noto Sans CJK HK'),
		local('PingFang SC'), local('PingFang TC'), local('Microsoft YaHei'),
		local('Microsoft JhengHei');
	font-style: normal;
	font-weight: 400 900;
	font-display: swap;
	unicode-range:
		U+3000-303F, /* CJK punctuation */ U+3400-4DBF, /* CJK Ext A */ U+4E00-9FFF,
		/* CJK Unified Ideographs */ U+F900-FAFF, /* CJK Compatibility Ideographs */ U+FF00-FFEF; /* Half/Fullwidth */
}

@theme {
	--breakpoint-xs: 24rem;
	--breakpoint-xss: 20rem;

	--ease-*: initial;
	--ease-standard: cubic-bezier(0.2, 0, 0, 1);
	--ease-outgoing40: cubic-bezier(0.4, 0, 1, 1);
	--ease-incoming80: cubic-bezier(0, 0, 0.2, 1);
	--ease-incoming80outgoing40: cubic-bezier(0.4, 0, 0.2, 1);

	--font-sans:
		'M PLUS Rounded 1c', 'Heebo', 'App CJK Fallback', system-ui, 'Noto Color Emoji', sans-serif;
	--m3-font:
		'M PLUS Rounded 1c', 'Heebo', 'App CJK Fallback', system-ui, 'Noto Color Emoji', sans-serif;
	--text-*: initial;
}

html {
	font-family: var(--m3-font);
	font-size: 1rem;
	line-height: 1.5;
	background-color: var(--m3c-surface);
	color: var(--m3c-on-surface);
	font-family: var(--font-sans);
	font-optical-sizing: auto;
	color-scheme: light;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	touch-action: manipulation;
	-webkit-touch-callout: none; /* Disable the iOS popup when long-press on a link */
	/* Chrome implementation with fixed elements is very buggy */
	/* scrollbar-gutter: stable; */
	scroll-padding-top: var(--app-header-height);
	scroll-padding-bottom: var(--bottom-overlay-height);
	--app-header-height: --spacing(16);
	--app-max-content-width: --spacing(400);
	--mktg-content-max-width: --spacing(300);
}

html.dark {
	color-scheme: dark;
}

html,
body {
	min-height: 100dvh;
}

body {
	-webkit-tap-highlight-color: transparent;
	display: flex;
	flex-direction: column;
	/* Needed for Safari */
	-webkit-user-select: none;
	user-select: none;
	@apply text-body-md;
}

#app {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

source {
	display: none;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@layer base {
	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}

	:root {
		box-sizing: border-box;
		accent-color: var(--m3c-primary);
		/* Needed for elevation to work */
		--m3-elevation-0: none;
		--m3-elevation-1: 0px 1px 2px 0px oklch(from var(--m3c-shadow) l c h / 0.3),
			0px 1px 3px 1px oklch(from var(--m3c-shadow) l c h / 0.15);
		--m3-elevation-2: 0px 1px 2px 0px oklch(from var(--m3c-shadow) l c h / 0.3),
			0px 2px 6px 2px oklch(from var(--m3c-shadow) l c h / 0.15);
		--m3-elevation-3: 0px 1px 3px 0px oklch(from var(--m3c-shadow) l c h / 0.3),
			0px 4px 8px 3px oklch(from var(--m3c-shadow) l c h / 0.15);
		--m3-elevation-4: 0px 2px 3px 0px oklch(from var(--m3c-shadow) l c h / 0.3),
			0px 6px 10px 4px oklch(from var(--m3c-shadow) l c h / 0.15);
		--m3-elevation-5: 0px 4px 4px 0px oklch(from var(--m3c-shadow) l c h / 0.3),
			0px 8px 12px 6px oklch(from var(--m3c-shadow) l c h / 0.15);

		/* Shapes */
		--m3-shape-none: 0;
		--m3-shape-extra-small: 4px;
		--m3-shape-small: 8px;
		--m3-shape-medium: 12px;
		--m3-shape-large: 16px;
		--m3-shape-large-increased: 20px;
		--m3-shape-extra-large: 28px;
		--m3-shape-full: 9999px;

		/* Typography */
		--m3-font: 'M PLUS Rounded 1c', 'Heebo', system-ui;
		--m3-font-mono: monospace;

		/* Easing */
		--m3-timing-function: cubic-bezier(0.2, 0, 0, 1);
		--m3-duration: 233ms;
		--m3-easing: var(--m3-timing-function) var(--m3-duration);
		--m3-easing-fast: cubic-bezier(0.4, 0, 0.2, 1) 150ms;
	}

	* {
		scrollbar-width: thin;
		scrollbar-color: oklch(from var(--m3c-secondary) l c h / 0.3) transparent;
	}

	:where(:focus) {
		outline: none;
	}

	:focus-visible {
		outline: none;
		box-shadow: 0 0 0 3px var(--m3c-secondary);
	}

	strong {
		font-weight: 600;
	}
}

@function --m3-density(--size) {
	result: var(--size);
}

@keyframes tooltip-fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.tooltip {
	position: fixed;
	position-area: bottom;
	position-try-fallbacks: top, left, right;
	margin: 8px;
	animation: tooltip-fade-in 0.3s ease-out;
}

@utility interactable {
	overflow: hidden;
	appearance: none;
	border: none;
	outline-width: 0;
	text-decoration: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	z-index: 0;
	position: relative;
	transition: outline-width 150ms linear;

	&::after {
		display: none;
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		background: currentColor;
		z-index: -1;
		pointer-events: none;
		opacity: 0;
		transition:
			opacity 0.2s linear,
			display 0.2s allow-discrete;
	}

	@media (any-hover: hover) {
		&:hover::after {
			display: block;
			opacity: 0.08;
		}

		&[disabled]::after {
			display: none;
		}
	}

	&:is(:focus-visible),
	&:hover:focus-visible {
		outline-width: --spacing(0.5);
	}

	&:focus-visible::after {
		display: block;
		opacity: 0.12;
	}

	@starting-style {
		&::after {
			opacity: 0 !important;
		}
	}
}

@utility flip-x {
	transform: scaleX(-1);
}

@utility flip-y {
	transform: scaleY(-1);
}

@utility text-headline-lg {
	font-size: --spacing(8);
	line-height: --spacing(10);
	letter-spacing: 0;
	font-weight: 700;
}

@utility text-headline-md {
	font-size: --spacing(7);
	line-height: --spacing(9);
	letter-spacing: 0;
	font-weight: 400;
}

@utility text-headline-sm {
	font-size: --spacing(6);
	line-height: --spacing(8);
	letter-spacing: 0;
	font-weight: 400;
}

@utility text-title-lg {
	font-size: --spacing(5.5);
	line-height: --spacing(7);
	letter-spacing: 0;
	font-weight: 500;
}

@utility text-title-md {
	font-size: --spacing(4);
	line-height: --spacing(6);
	letter-spacing: 0.15px;
	font-weight: 500;
}

@utility text-title-sm {
	font-size: --spacing(3.5);
	line-height: --spacing(5);
	letter-spacing: 0.1px;
	font-weight: 500;
}

@utility text-label-lg {
	font-size: --spacing(3.5);
	line-height: --spacing(5);
	letter-spacing: 0.1px;
	font-weight: 500;
}

@utility text-label-md {
	font-size: 12px;
	line-height: --spacing(4);
	letter-spacing: 0.5px;
	font-weight: 500;
}

@utility text-label-sm {
	font-size: 11px;
	line-height: --spacing(4);
	letter-spacing: 0.5px;
	font-weight: 500;
}

@utility text-body-lg {
	font-size: --spacing(4);
	line-height: --spacing(6);
	letter-spacing: 0.15px;
	font-weight: 400;
}

@utility text-body-md {
	font-size: --spacing(3.5);
	line-height: --spacing(5);
	letter-spacing: 0.25px;
	font-weight: 400;
}

@utility text-body-sm {
	font-size: --spacing(3);
	line-height: --spacing(4);
	letter-spacing: 0.4px;
	font-weight: 400;
}

@utility view-name-* {
	view-transition-name: --value([*]);
}

@utility scrollbar-gutter-stable {
	scrollbar-gutter: stable;
}

@utility stack-in-grid {
	grid-area: 1 / 1;
}

@custom-variant active-view-player {
	html:active-view-transition-type(player) & {
		@slot;
	}
}

@custom-variant active-view-regular {
	html:active-view-transition-type(regular) & {
		@slot;
	}
}

@layer components {
	.link {
		text-decoration: underline;
	}

	.mktg-content-width {
		width: 100%;
		max-width: var(--mktg-content-max-width);
		padding-left: --spacing(6);
		padding-right: --spacing(6);
		margin-left: auto;
		margin-right: auto;
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	.mktg-content-width-using-grid {
		display: grid;
		grid-template-columns: minmax(0, var(--mktg-content-max-width));
		justify-content: center;
	}

	.card {
		background-color: var(--color-surfaceContainer);
		display: flex;
		flex-direction: column;
		border-radius: --spacing(2);
		color: var(--color-onSurface);
	}

	.virtual-item {
		position: absolute !important;
		contain: strict;
		will-change: transform;
	}

	.ripple {
		width: --spacing(1);
		height: --spacing(1);
		position: absolute;
		border-radius: 50%;
		opacity: 0.2;
		background-color: currentColor;
		animation-fill-mode: both;
		contain: strict;
		will-change: transform, opacity;
		pointer-events: none;
	}
}

/* Hide Netlify preview bar */
div[data-netlify-deploy-id] {
	display: none;
}
